
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  max-height: 80vh; 
  overflow-y: auto; 
}


.about {
  flex: 1;
  max-width: 600px; 
  padding: 20px;
}


.about-title {
  font-size: 28px;
  margin-bottom: 20px;
}


.about-description {
  font-size: 18px;
  margin-bottom: 20px;
}


.about-features {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}


.about-features li {
  font-size: 16px;
  margin-bottom: 10px;
}


.about-benefit {
  font-size: 18px;
  color: #007bff;
  font-style: italic;
  margin-bottom: 40px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: top;
}


.about-me-details {
  display: flex;
  flex-direction: column;
}


.about-me-title {
  font-size: 24px;
  margin-bottom: 10px;
}


.about-me-name {
  font-size: 20px;
  margin-bottom: 10px;
}


.about-me-description {
  font-size: 16px;
}
