/* services.css */

.services {
    padding: 20px;
    max-height: 500px; /* Adjust max-height as needed */
    overflow-y: auto;
  }
  
  .service {
    margin-bottom: 40px;
  }
  
  .service h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .service pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  
  .service pre code {
    font-size: 14px;
    color: #333;
  }
  